@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*,*::before,*::after {
    font-family: Montserrat;
}

.none {
    display: none !important;
}

body {
    background-color: #1E252B;
}

.nav-header{
    background-color: #262D34;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 5px 18px -5px rgba(13, 22, 28, 0.6);
}

.header-nav-brand {
    color: white;
}

.header-nav-element {
    color: rgb(255, 255, 255);
    /* background-color: #2C353D; */
}

.header-search {
    background-color: #2C353D;
}
.messages-group a img {
    background-color: #2C353D;
}

.parent {
    display: grid;
    grid-template-columns: 4fr 10fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
}

.block {
    width: 100%;
    height: auto;
    border-radius: 16px;
}


.rightbar {
    height: 880px;
}

.sidebar {
    height: 800px;
    top: 100px;
}

.central-block-create-post {
    background-color: #262D34;
}

.central-block-create-post-input {
    background-color: #2C353D;
    color: white;
}

.central-block-posts {
    display: grid;
    grid-template-rows: repeat(auto-fit);
    grid-gap: 20px;
    width: 100%;
}

.central-block-post {
    background-color: #262D34;;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
}
.central-block-post-image {
    width: 168px;
    height: 168px;
    object-fit: cover;
}

.central-block-post-tag {
    background-color: #2C353D;
}
.central-block-post-tags {
    width: 100%;
    max-height: 32px;
}

.sidebar-popular-tags {
    background-color: #262D34;
}

.modal {
    z-index: 100;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.627);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-inner {
    height: 70%;
    width: 70%;
    background-color: #2d3740;
}

.create-post-button:hover {
    background-color: #dddddd;
    transition: background-color 0.3s ease-in;
}

.article-block{
    background-color: #262D34;
}

.article-tag {
    background-color: #2a343c;
}

.content h1,h2,h3,h4,h5,h6 {
    font-size: 32px;
    margin: 15px 0px;
    font-weight: bold;
}

.content p {
    word-spacing: 5px;
    line-height: 28px;
}

.bookmarks__posts-container {
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
}